<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Create A User</title>
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="#news">Create users</a>
    </div>
    <form action="/create-user" method="post">
      <fieldset>
        <legend>Form add new users</legend>
        <div class="form">
          <div class="input-group">
            <label for="">Email</label>
            <input type="text" name="email" />
          </div>
          <div class="input-group">
            <label for="">Name</label>
            <input type="text" name="myname" />
          </div>
          <div class="input-group">
            <label for="">City</label>
            <input type="text" name="city" />
          </div>
          <div><button class="btn">Save</button></div>
        </div>
      </fieldset>
    </form>
  </body>
</html>
